/* -------------------- separacion de las cartas -------------------- */

.card {
    margin: 5rem auto;
}

/* -------------------- main -------------------- */

main {
    padding: 15px 15px;
}

main section {
    padding: 50px 0;
}

.fondo-libros {
    background-image: url("../../public/assets/images/fondos/FondoLibros.png");
    color: #fff;
}

.Características li {
    list-style: none;
}

/* -------------------- planes -------------------- */

.pricing-container {
    display: block;
    text-align: center;
    padding: 2rem 0px;
}

.container .card {
    display: inline-block;
    width: 18rem;
    margin: 30px 20px;
}

.pricing-container .card .card-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
}

.pricing-container .card .card-body {
    text-align: center;
    flex: none;
}