/* -------------------- separacion de las cartas -------------------- */

.card {
    margin: 5rem auto;
}

/* -------------------- main -------------------- */

main {
    padding: 15px 15px;
}

main section {
    padding: 50px 0;
}

/*---------------caracteristicas--------------------*/

.feature-container {
    display: block;
    text-align: center;
    padding: 2rem 0px;
}

.feature-container .card-header {
    background-color: #452759;
}

.feature-container .card-header i {
    font-size: 40px;
    color: #ffc107;
}

.feature-container .card {
    background: #320D47;
}

.feature-container .card .card-body h3 {
    color: #ffc107;
}

.feature-container .card .card-body {
    color: #fff;
}

/* -------------------- planes -------------------- */

.pricing-container {
    display: block;
    text-align: center;
    padding: 2rem 0px;
}

.container .card {
    display: inline-block;
    width: 18rem;
    margin: 30px 20px;
}

.pricing-container .card .card-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
}

.pricing-container .card .card-body {
    text-align: center;
    flex: none;
}

/*----------carrusel---------------*/

/* .carousel {
    overflow: hidden;
} */

.carousel-item img {
    height: auto;
    filter: blur(3px);
}

.carousel-caption {
    bottom: 20%;
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}