/* -------------------- estilos base -------------------- */

* {
    scroll-behavior: smooth;
}

body {
    background-color: #e6e6e6;
    color: #000;
}

p {
    margin: 0;
}

/* -------------------- eliminación de selectores en input (tipo number)-------------------- */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* -------------------- botones -------------------- */

.btn-principal {
    color: #FFFFFF;
    background-color: #320D47;
    border-color: #FFFFFF;
}

.btn-principal:hover,
.btn-principal:focus,
.btn-principal:active,
.btn-principal.active,
.open .dropdown-toggle.btn-principal {
    color: #FFFFFF;
    background-color: #F2B705;
    border-color: #FFFFFF;
}

.btn-principal:active,
.btn-principal.active,
.open .dropdown-toggle.btn-principal {
    background-image: none;
}

.btn-principal.disabled,
.btn-principal[disabled],
fieldset[disabled] .btn-principal,
.btn-principal.disabled:hover,
.btn-principal[disabled]:hover,
fieldset[disabled] .btn-principal:hover,
.btn-principal.disabled:focus,
.btn-principal[disabled]:focus,
fieldset[disabled] .btn-principal:focus,
.btn-principal.disabled:active,
.btn-principal[disabled]:active,
fieldset[disabled] .btn-principal:active,
.btn-principal.disabled.active,
.btn-principal[disabled].active,
fieldset[disabled] .btn-principal.active {
    background-color: #320D47;
    border-color: #FFFFFF;
}

.btn-principal .badge {
    color: #320D47;
    background-color: #ffffff;
}

/* -------------------- fuentes -------------------- */

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

/* -------------------- barra de navegacion -------------------- */

header {
    position: sticky;
    top: 0px;
    z-index: 10;
}

.navbar {
    background-color: #320D47;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    transition: all .2s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #f2b705;
    text-decoration: underline;
}

/* -------------------- footer -------------------- */

.footer {
    background-color: #320D47;
    color: #ffffff;
    padding-top: 30px;
}

.footer h4 {
    text-transform: uppercase;
}

.team-member {
    margin: 20px auto;
}

.team-member img {
    height: 120px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.team-member p {
    width: 100%;
    height: 60px;
}

.end-page {
    background-color: #65268a;
}