main {
    margin: 5rem auto;
}

.card-body {
    padding: 1rem 0;
}

.tab-pane {
    margin: 0;
}

.disabled-form {
    border: 1px solid;
    border-color: var(--bs-form-valid-border-color);
    border-radius: var(--bs-border-radius);
}

.nav-link {
    color: #F2B705;
}

.nav-link:hover {
    color: #320D47;
}

.dinamic-card-container {
    position: relative;
}

.logo-banco {
    font-size: 300px;
}