.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

.card-header .nav {
    padding: 2rem;
}

.nav-pills {
    font-size: 40px;
}

.nav-link i {
    transition: 150ms all ease-in-out;
}

.fa-bookmark {
    color: #ffc107;
}

.fa-heart {
    color: rgb(238, 20, 20);
}

.fa-comment {
    color: #320D47;
}

.fa-gear {
    color: grey;
}

.fa-gears {
    color: grey;
}

.dropdown-menu {
    z-index: 1;
    padding-bottom: 0;
}

.dropdown-menu ul {
    list-style: none;
}

.tab-pane {
    height: fit-content;
}

.cuerpo-pagina {
    margin: 5rem 0 4rem 0;
}

.nav-link:active,
.nav-link.active {
    background-color: #e6e6e6 !important;
    border-color: #e6e6e6 !important;
}